---
title: In The Raw Health Coaching
---
<article id="main">
  <header>
    <h2>Health Coaching</h2>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <h2> What is Health Coaching? </h2>

      <p>Have you ever received good advice that you were unable to follow? Has your doctor ever recommended a lifestyle
        change that you found to be unsustainable? Have you ever wanted something in your life, but found you couldn’t
        achieve it alone?</p>

      <p>Here is where Health Coaching comes to the rescue! Health Coaching is a unique approach to health and
        weight-loss that provides you with the necessary support, structure and inspiration to make lasting changes in
        your life. It is NOT a short-term solution or diet-fad. It’s a lifestyle transformation that equips you with the
        skills and confidence you need to live a HAPPY and VIBRANT life!</p>

      <p>As your Health Coach, I will listen carefully and help you to navigate the complex world of contradictory
        nutrition advice to determine what changes are necessary and practical for YOU!</p>
      <p>Your personalized program will radically improve your health and happiness. Together, we will explore concerns
        specific to you and your body and discover the tools you need for a lifetime of balance.</p>
    </div>
  </section>


  <section class="wrapper style5">
    <div class="inner">
      <hr/>
      <h2> My Approach </h2>
      <p><img src="images/heart.jpg" alt="" style="float:left; margin:6px;"/>I practice a holistic approach to health
        and wellness, which means that I look at how all areas of your life are connected. Does stress at your job or in
        your relationship cause you to overeat? Does lack of sleep or low energy prevent you from exercising? As we work
        together, we will look at how ALL parts of your life affect your health as a whole.</p>

      <p>My approach is not to dwell on calories, carbs, fats, and proteins. It is not to create lists of restrictions
        or good and bad foods. Instead, I work with my clients to create a happy, healthy life in a way that is
        flexible, FUN and rewarding. Personally, I can only make changes when I feel inspired so I cannot impose any
        treacherous diets on you! No feelings of deprivation in my program. It’s not about taking things out of your
        life, but rather “crowding out” the bad with the good. I don’t know about you, but I find it hard to kick bad
        habits. I find it much easier when the bad habits get kicked out by the good ones, without me having to do
        anything or TRY (ooh…that word). The more you resist something, the more it persists. I don’t believe in the
        motto “no pain no gain”. For me, what rings true is “no fun, no (lasting) gain”.</p>

      <p>Some concepts I use in my approach are the following:</p>

      <p><a href="http://www.integrativenutrition.com/glossary/bioindividuality">Bio-individuality™</a>: The concept of
        bio-individuality is that each person has unique food and lifestyle needs. One person’s food is another person’s
        poison, and that’s why fad diets tend to fail in the long run. Working on the principle of bio-individuality,
        I’ll support you to make positive changes that are based on your unique needs, lifestyle, preferences, and
        ancestral background. I use a personalized, holistic approach to ensure that you will have great success!</p>

      <p><a href="http://www.integrativenutrition.com/glossary/primary-food">Primary Food™</a>: It’s easy to overlook
        all of the things that contribute to our sense of nourishment and fulfillment. It’s not just the food we eat,
        but all of the other factors present in our daily lives. Healthy relationships, a fulfilling career, regular
        physical activity and a spiritual awareness are essential forms of nourishment. When these “primary foods” are
        balanced, what you eat becomes secondary. I will support you in achieving all of your goals, from eating the
        right foods for your body to living an inspired, fulfilling life.</p>
    </div>
  </section>

  </hr>

  <section class="wrapper style5">
    <div class="inner">
      <hr/>
      <h2> What's in it for me ? </h2>
      <h4>As a client of my health coaching program, here are some of the many benefits you can expect:</h4>
      <ul>
        <li>Set and accomplish goals in a way that is empowering, FUN and exciting!</li>
        <li>Achieve and maintain your sexy, ideal weight</li>
        <li>Understand and reduce your cravings</li>
        <li>Increase your energy levels</li>
        <li>Feel GREAT in your body</li>
        <li>Learn about new foods and how you can easily incorporate them</li>
        <li>Improve your personal relationships</li>
        <li>Boost your self-esteem</li>
        <li>Reduce anxiety and increase peace of mind</li>
        <li>Increase mental focus</li>
      </ul>

      <h4>Your program includes...</h4>

      <ul>
        <li>Two to four coaching sessions per month</li>
        <li>E-mail support between sessions</li>
        <li>Recipes that are healthy and simple to prepare</li>
        <li>Coaching and support to help you make the dietary and lifestyle changes you want</li>
        <li>Simple but informative handouts that will increase your nutrition knowledge</li>
        <li>Access to my monthly newsletter with the latest health tips and recipes</li>
        <li>My personal commitment to your health and success</li>
      </ul>

      To decide if health coaching is right for you, I invite you to schedule a free <a href="contact.html">initial
      consultation with me</a>. During this session, we will discuss your health and lifestyle to determine how I can
      best support you in achieving your goals.
    </div>
  </section>

</article>