---
title: In The Raw Health Coaching
---
	<article id="main">
		<header>
			<h2>Contact</h2>
		</header>
								
		<section class="wrapper style5">
			<div class="inner">
			<h4>Contact Form</h4>
			<section>
			<form action="https://formspree.io/szimano@szimano.org"
			      method="POST">
				  <div class="row uniform">
				<div class="6u 12u$(xsmall)">
			    	<input type="text" name="name" value placeholder="Your Name">
				</div>
				<div class="6u$ 12u$(xsmall)">
			    	<input type="email" name="_replyto" value placeholder="Your Email">
			    </div>
				<h4>Subject</h4>
				<div class="4u 12u$(small)">
					<input type="radio" id="gh" name="subject" checked="" value="General Hello">
					<label for="gh">General Hello</label>
				</div>
				<div class="4u 12u$(small)">
					<input type="radio" id="bt" name="subject" value="Breakthrough">
					<label for="bt">Breakthrough</label>
				</div>
				<div class="12u$">
					<textarea name="message" name="name" placeholder="Enter your message" rows="6"></textarea>
				</div>
				<div class="">
					<input type="submit" value="Send" class="special">
				</div>
				</div>
				<input type="text" name="_gotcha" style="display:none" />
				<input type="hidden" name="_next" value="http://szimano.github.io/magda-health/thanks.html" />
			</form>
			</section>
			</div>
		</section>
	</article>