---
title: Magdalena Wellness
---
<article id="main">
  <header>
    <h2>Contact</h2>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <img src="images/magda-bw.jpg" alt="" style="float:right; margin:6px; width: 270px"/>
      <h4>Email <i class="icon fa-envelope"></i></h4>
        <section>
          <a href="mailto:info@magdalenawellness.com"><span>info@magdalenawellness.com</span></a>
        </section>
        <hr/>
      <h4>Phone <i class="icon fa-phone"></i></h4>
        <section>
          <a href="callto:403-681-8827"><span>403-681-8827</span></a>
        </section>
        <hr/>
      <h4>Contact Form</h4>
      <section>
        <form action="https://formspree.io/info@magdalenawellness.com"
              method="POST">
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" name="name" value placeholder="Your Name">
            </div>
            <div class="6u$ 12u$(xsmall)">
              <input type="email" name="_replyto" value placeholder="Your Email">
            </div>
            <h4>Subject</h4>
            <div class="4u 12u$(small)">
              <input type="radio" id="gh" name="subject" checked="" value="General Hello">
              <label for="gh">General Hello</label>
            </div>
            <div class="4u 12u$(small)">
              <input type="radio" id="bt" name="subject" value="Breakthrough Session">
              <label for="bt">Breakthrough Session</label>
            </div>
            <div class="12u$">
              <textarea name="message" name="name" placeholder="Enter your message" rows="6"></textarea>
            </div>
            <div class="">
              <input type="submit" value="Send" class="special">
            </div>
          </div>
          <input type="text" name="_gotcha" style="display:none"/>
          <input type="hidden" name="_next" value="http://szimano.github.io/magda-health/thanks.html"/>
        </form>
      </section>
    </div>
  </section>
</article>
