---
title: In The Raw Health Coaching
---
<article id="main">
  <header>
    <h2>Meet Your Coach</h2>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <img src="images/magda_apple.jpg" alt="" style="float:left; margin:6px;"/>
      <p>Welcome! I am so happy to be able to share my story with you. My journey to health has been a long and
        challenging one, but nonetheless exciting. As a result of my struggles I have come to experience and learn so
        much that I would never have had I always been in perfect health. As such, I would like to start off by saying
        that I am actually grateful for all those moments of pain which in the past seemed like a futile struggle that I
        just wanted to escape. While I continue to make improvements in my life daily, I have come so far that I can
        barely believe who I am today.</p>
      <p>Like many of my friends, I grew up on Dunkaroos, five cent candies and dry Chinese noodles as snacks.
        Thankfully, my amazing Polish mother cooked up delicious and nutritious meals, which I thoroughly enjoyed and
        was lucky to have. However, as many children growing up in North America, I found the need to “supplement” with,
        well... junk!</p>
      <p>In junior high I struggled with depression and anxiety. I lacked meaning in my life and while I was very smart
        and personable I found it really hard to fit in with the junior high crowd. I felt empty inside and as a result
        turned to eating to fill the void. I was so engulfed in it that I thought I would never conquer it. I prayed for
        the day that I would be able to have just one day where I don’t have to think about food and feel guilty for
        having binged yet again. I also had bad insomnia. Some days it would take me two hours to fall asleep. I went on
        anti-depressants and stayed on them for 15 years. The over-eating and insomnia continued.</p>
      <p>Because things weren’t improving for me in seeking treatment in the medical system (having tried five different
        types of anti-depressants and countless therapies) I decided to start seeking alternative therapies. I started
        going to hypnosis sessions, and supplementing with a particular enzyme that it turned out my body was lacking. I
        started to feel immense relief rather quickly. I stopped turning to food for comfort. It felt like a
        miracle!</p>
      <p>While the depression and anxiety got under control, my immune system was very weak. I would get sick ALL the
        time. I went to countless naturopaths and healers trying to figure out what was wrong and how to get better.
        Nothing really made a lasting difference. Finally, one day I decided to take matters into my own hands, as,
        quite frankly, I was going broke. I gradually changed my diet, I was introduced to superfoods and super herbs,
        and I started using essential oils. I began to breathe deeply and started to take more time for myself. Rather
        than attempting to treat one symptom at a time (which was tedious, I tell you!), I started to strengthen my body
        as a whole and nourish my cells through food. Most importantly, I began to change my mindset. The more I
        focussed on solutions and not the problem, the healthier and happier I became. All these little changes created
        one massive transformation. I rarely get sick anymore, my body feels strong and I have so much more energy now
        than I did ten years ago. On top of it, I sleep so well it’s..amazing. My anxiety is under control and when it
        does come up (as I am still human), I am able to manage it.</p>
      <p>My experience has taught me so much more than any book or lecture ever did, although I learned a lot in my
        Health Coaching Program at the Institute of Integrative Nutrition, the largest integrative nutrition school in
        the world, operating out of New York. Completing my Health Coaching Certificate in May 2015 brought me to a
        whole new level of understanding in regards to health. It really taught me how to assist others in finding their
        own truth and balance to lead a life full of vitality. Prior to this, I also became an Aromatouch Therapist as
        well as Reiki Level One practitioner. I also have a Bachelor of Arts in Psychology as well as Master of Arts in
        Peace and Conflict Resolution Studies.</p>
      <p>I SO GET what a struggle it can be to reach that overall sense of well-being. There are many parts of my
        journey I did not share due to lack of space, but the list of struggles I have overcome through simple steps of
        getting back to the roots; to the natural way of eating, is enough to write a book. Forgive me for the cliché,
        but if I can do it, SO CAN YOU! I would be thrilled to work with you and uncover what lies beneath the surface.
        Once we get to the root, the symptoms just fall away and you are left with a sense of ease, peace and joy. Let’s
        talk!</p>
    </div>
  </section>
</article>