<section id="banner">
  <div class="inner">
    <h2>In The Raw Health Caoching</h2>
    <p>We give you the naked facts on how to live a healthier lifestyle!</p>
    <ul class="actions">
      <li><a href="#footer" class="button special">Sign up for Newsletter</a></li>
    </ul>
  </div>
  <a href="#main" class="more scrolly">Learn More</a>
</section>