<section id="banner">
  <div class="inner">
    <h2>Magdalena Wellness</h2>
    <p>Fostering health and vitality in all areas of your life</p>
    <ul class="actions">
      <li><a href="#footer" class="button special">Sign up for Newsletter</a></li>
    </ul>
  </div>
  <a href="#main" class="more scrolly">Learn More</a>
</section>
